body {
    margin: 0;
font-family: 'Cairo', sans-serif;
}

#section1-organized {
    width: 100%;
    height: 19vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 5%;
}

.empty-div {
    background-color: #306c81;
    width: 100%;
    flex: 1;
    color: #306c81;
}

.nav-social-container {
    background-color: #326273;
    width: 100%;
    display: flex;
    align-items: center;
  
}
.nav-move{
    position: fixed;
    top: 0;
    left: 0;
}

.empty {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #326273;

}

.social-icon img {
    width: 30px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}

.social-icon img:hover {
    transform: scale(1.2);
}

nav {
    margin-left: 80px;
    height: 8vh;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

}

nav li {
    margin: 10px 75px 
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    
}
nav a:hover{
    color: yellow;
}

.logo {
    position: absolute;
    top: 0;
    right: 20px; /* Adjust the right spacing */
}

.logo img {
    width: 100px; /* Adjust the width as needed */
    background-color: #fff;
    margin-top: 20%;
}

#about-us {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    text-align: right;
}

.about-section img {
    max-width: 400px;
    border-radius: 10px;
}

.about-section div:last-child {
    flex-grow: 1;
}

h3 {
    color: #333;
}

p {
    color: #666;
}

footer {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 60px;
    text-align: center;
    height: 30vh;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5px;
    margin-top: 6%;

}
.contact-info p{
    color: #ffffff;

}

.contact-item {
    display: flex;
    align-items: center;
}

.contact-item i {
    margin-right: 10px;
}
.social-icons {
padding-left: 35%;    
}
footer .social-icons img {
    display: flex;
    flex-direction: row;
    height: 8vh;
    color: #fff;
    border-radius: 2px;
    width: 40px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
    filter: grayscale(100);
}

footer .contact{
display: flex;
flex-direction: row;
width: 40%;
}
footer .contact h2{
color: #ffffff;
text-align: center;
border-right: 1px solid;
height: 100%;
padding-right: 20px;
margin-top: 0;

}
.media-left h2{
    border-left: 1px white solid ;
    height: 100%;
    padding-left: 20px;
    margin-top: 0;
}
.media-left img{
    width: 50%;
    height: 100%;
    padding-left: 5%;
    filter: hue-rotate(240deg) brightness(0) invert(1);
}

.media-left{
    display: flex;
    flex-direction: row;
    width: 52%;
}
.footer-social{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.footer-social .social-icons{
    flex-direction: row;
    transition: transform 0.3s ease-in-out;

}
.footer-social .social-icons img:hover{
    transform: scale(1.2);

}
/* Add this CSS for styling */

.copyright {
    color: #ffffff;
    width: 100%;
    background-color: #333;

}

.copyright p {
    text-align: center;
    font-size: 14px;
    margin: 0;
}
